/***********POST STYLE 1*************/
.post-style-1 .post-lg-image{
    height: 350px;
}
.post-style-1 .post-md-image{
    height: 250px;
}
.post-style-1 .post-sm-image{
    height: 150px;
}
.post-style-1 .post-desc{
    background-color: #eee;
    padding: 5px 15px 25px; /*1st value is for padding-top 2nd is padding-left and padding-right and last one is padding-bottom*/
}
.post-style-1 .post-title,
.post-style-1 p{
    margin:0;
    padding-top: 10px;
}
.post-style-1 .post-desc h3{
    font-size: large;
    font-weight: 700;

}
/*--------------END OF POST STYLE 1----------------*/

/***********POST STYLE 11*************/
.post-style-11 .post-lg-image{
    height: 350px;
}
.post-style-11 .post-md-image{
    height: 250px;
}
.post-style-11 .post-sm-image{
    height: 150px;
}
.post-style-11 .post-desc{
    background-color: #eee;
    padding: 5px 15px 15px; /*1st value is for padding-top 2nd is padding-left and padding-right and last one is padding-bottom*/
}
.post-style-1 .post-desc h4{
    font-size: large;
    font-weight: 500;

}

/*--------------END OF POST STYLE 11----------------*/

/***********POST STYLE 2*************/
.post-style-2{
    display: flex;
    flex-wrap: wrap;
}

.post-style-2 .image-section{
    height: 120px;
    width: 150px;
}
.post-style-2 .post-desc{
    flex: 0 0 calc(100% - 150px);
    max-width: calc(100% - 150px);
    text-align: center;
    padding-left: 15px;
}
.post-style-2 .post-title,
.post-style-2 p{
    margin:0;
    padding-top: 10px;
}

/*--------------END OF POST STYLE 2----------------*/

